force-app/main/default/flows/Service_After_Update_or_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Insert_Benchmark_Tasks</name>
        <label>Insert Benchmark Tasks?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X60_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X90_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stabilization_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Benchmark_Tasks_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 365</expression>
    </formulas>
    <formulas>
        <name>ServiceNamingConventionCaseId</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.RecordType.Name},
&apos;Placement&apos;, 
CASE( {!$Record.Type},
&apos;DBS Supported Employment&apos;,&apos;DSE&apos;,
&apos;DBS OTJ&apos;,&apos;DOTJ&apos;,
&apos;DBS Employment Service&apos;,&apos;DES&apos;,
&apos;Employment Service&apos;,&apos;ES&apos;,
&apos;Job Coaching&apos;,&apos;JC&apos;,
&apos;OJT&apos;,&apos;OJT&apos;,
&apos;Supported Employment&apos;,&apos;SE&apos;,
&apos;WBLE&apos;, &apos;WB&apos;,
&apos;&apos;
),
&apos;Evaluation&apos;,
CASE( {!$Record.Type},
&apos;Discovery&apos;,&apos;D&apos;,
&apos;MHC&apos;,&apos;MHC&apos;,
&apos;Psychological Evaluation&apos; , &apos;PE&apos;,
&apos;Vocational Evaluation&apos;,&apos;VE&apos;,
&apos;&apos;
),
&apos;Training&apos; ,
CASE( {!$Record.Type},
&apos;Career Camp&apos;, &apos;CC&apos;,
&apos;Pre-Placement Training&apos;,&apos;PPT&apos;,
&apos;Self Advocacy&apos;,&apos;SA&apos;,
&apos;Peer Mentoring&apos;,&apos;PM&apos;,
&apos;&apos;
),
&apos;&apos;)
+ &apos;_&apos;
+ {!$Record.Case_Id__c}
+ &apos;_&apos; 
+ CASE(MONTH( Today() ),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)

+ &apos;_&apos; +TEXT( Year ( Today() ) )</expression>
    </formulas>
    <formulas>
        <name>ServiceNamingConventionVRCode</name>
        <dataType>String</dataType>
        <expression>CASE( {!$Record.RecordType.Name},
&apos;Placement&apos;, 
CASE( {!$Record.Type},
&apos;DBS Supported Employment&apos;,&apos;DSE&apos;,
&apos;DBS OTJ&apos;,&apos;DOTJ&apos;,
&apos;DBS Employment Service&apos;,&apos;DES&apos;,
&apos;Employment Service&apos;,&apos;ES&apos;,
&apos;Job Coaching&apos;,&apos;JC&apos;,
&apos;OJT&apos;,&apos;OJT&apos;,
&apos;Supported Employment&apos;,&apos;SE&apos;,
&apos;WBLE&apos;, &apos;WB&apos;,
&apos;&apos;
),
&apos;Evaluation&apos;,
CASE( {!$Record.Type},
&apos;Discovery&apos;,&apos;D&apos;,
&apos;MHC&apos;,&apos;MHC&apos;,
&apos;Psychological Evaluation&apos; , &apos;PE&apos;,
&apos;Vocational Evaluation&apos;,&apos;VE&apos;,
&apos;&apos;
),
&apos;Training&apos; ,
CASE( {!$Record.Type},
&apos;Career Camp&apos;, &apos;CC&apos;,
&apos;Pre-Placement Training&apos;,&apos;PPT&apos;,
&apos;Self Advocacy&apos;,&apos;SA&apos;,
&apos;Peer Mentoring&apos;,&apos;PM&apos;,
&apos;&apos;
),
&apos;&apos;)
+ &apos;_&apos;
+ {!$Record.Customer_ID__c}
+ &apos;_&apos; 
+ CASE(MONTH( Today() ),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)
+ &apos;_&apos;
+ TEXT( Year ( Today() ) )</expression>
    </formulas>
    <interviewLabel>Service - After Update or Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - After Update or Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Benchmark_Tasks</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Insert_Benchmark_Tasks_Subflow</name>
        <label>Insert Benchmark Tasks Subflow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Service_Insert_Benchmark_Tasks</flowName>
        <inputAssignments>
            <name>ServiceRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Benchmark30DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Benchmark60DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Benchmark90DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
