force-app/main/default/flows/Service_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Task_Count</name>
        <label>Assign Task Count</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NumberOfOpenBenchmarkTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Benchmark_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Benchmark_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For all open child Benchmark records, set the OwnerId to the Opportunity OwnerId.</description>
        <name>Set_Benchmark_Owner_to_Opportunity_Owner</name>
        <label>Set Benchmark Owner to Opportunity Owner</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Benchmarks.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Benchmarks.Service_Owner_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Benchmarks_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Benchmarks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Benchmarks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IsRunning recursion check to true</description>
        <name>Set_Is_Running_to_True</name>
        <label>Set Is Running to True</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_Boolean_IsRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Child_Benchmark_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Opportunity owner has changed.</description>
        <name>Did_Opportunity_Owner_Change</name>
        <label>Did Opportunity Owner Change?</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Insert_Benchmark_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Owner Did not Change</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Boolean_IsRunning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Running_to_True</targetReference>
            </connector>
            <label>Opportunity Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Open_Benchmark_Tasks</name>
        <label>Has Open Benchmark Tasks?</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfOpenBenchmarkTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Open_Benchmark_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Benchmark_Tasks</name>
        <label>Insert Benchmark Tasks?</label>
        <locationX>512</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X60_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X90_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stabilization_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Outcome_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Benchmark_Tasks_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status?</label>
        <locationX>512</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Set_to_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Benchmark_Tasks</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set to Incomplete</label>
        </rules>
        <rules>
            <name>Set_to_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Open_Benchmark_Tasks</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set to Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - After Update</label>
    <loops>
        <description>Loop through child Benchmark records. The records will be updated and added to a collection to update.</description>
        <name>Loop_Through_Benchmarks</name>
        <label>Loop Through Benchmarks</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Open_Child_Benchmark_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Benchmark_Owner_to_Opportunity_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Open_Child_Benchmarks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Open_Benchmark_Tasks</name>
        <label>Delete Open Benchmark Tasks</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <inputReference>Get_Open_Benchmark_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Open_Benchmark_Tasks</name>
        <label>Get Open Benchmark Tasks</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Benchmark Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get child Benchmark records that are NOT:
• Pending
• Paid
• Closed
• Rejected
• Populated with a Submitted Date</description>
        <name>Get_Open_Child_Benchmark_Records</name>
        <label>Get Open Child Benchmark Records</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Benchmarks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Submitted_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NOA_Submitted_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MPR_Pending__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MPR_Saved__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benchmark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the open Child Benchmarks so their OwnerId matches the triggering Opportunity&apos;s OwnerId.</description>
        <name>Update_Open_Child_Benchmarks</name>
        <label>Update Open Child Benchmarks</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Insert_Benchmark_Tasks</targetReference>
        </connector>
        <inputReference>Collection_Benchmarks_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Opportunity_Owner_Change</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Insert_Benchmark_Tasks_Subflow</name>
        <label>Insert Benchmark Tasks Subflow</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <flowName>Service_Insert_Benchmark_Tasks</flowName>
        <inputAssignments>
            <name>PriorServiceRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>A collection for storing Benchmark records to update.</description>
        <name>Collection_Benchmarks_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benchmark__c</objectType>
    </variables>
    <variables>
        <name>NumberOfOpenBenchmarkTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Recursion check to see if the flow is already running</description>
        <name>var_Boolean_IsRunning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
