force-app/main/default/flows/Service_Placement_Transition_Employment_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Support_and_Stabilization</name>
        <label>Check for Support and Stabilization</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_and_Stabilization_Conditions_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stabilization_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Transition_Date</targetReference>
            </connector>
            <label>Support and Stabilization Conditions Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforStartDatebeingPopulated</name>
        <label>Check for Start Date being Populated</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_Support_and_Stabilization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update30DayDate</targetReference>
            </connector>
            <label>Start Date Populated</label>
        </rules>
    </decisions>
    <description>Updates the service dates for Supported Employment</description>
    <environments>Default</environments>
    <formulas>
        <name>Day30Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_Start_Date__c} +30</expression>
    </formulas>
    <formulas>
        <name>StabalizationDate151Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Stabilization_Date__c} +150</expression>
    </formulas>
    <formulas>
        <name>StabilizationDate60Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Stabilization_Date__c} +60</expression>
    </formulas>
    <interviewLabel>Service-Placement: Transition &amp; Employment Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service-Placement: Transition &amp; Employment Dates:Supported Employment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Insert_Transition_Date</name>
        <label>Insert Transition Date</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Employment_Outcome_Date__c</field>
            <value>
                <elementReference>StabalizationDate151Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transition_Date__c</field>
            <value>
                <elementReference>StabilizationDate60Days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update30DayDate</name>
        <label>Update 30 Day Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_for_Support_and_Stabilization</targetReference>
        </connector>
        <inputAssignments>
            <field>X30_day__c</field>
            <value>
                <elementReference>Day30Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckforStartDatebeingPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supported Employment</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
