force-app/main/default/flows/Service_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Has_Case_ID</name>
        <label>Has Case ID?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Name_CloseDate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Case_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_CloseDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status</name>
        <label>Update Status?</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Update_Transition_Employment_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laid off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage2</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
        <rules>
            <name>In_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage</targetReference>
            </connector>
            <label>In-Service</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 365</expression>
    </formulas>
    <formulas>
        <name>Date30Day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_Start_Date__c} + 30</expression>
    </formulas>
    <formulas>
        <name>Date45Day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_Start_Date__c} + 45</expression>
    </formulas>
    <formulas>
        <name>Date60Day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_Start_Date__c} + 60</expression>
    </formulas>
    <formulas>
        <name>Date90Day</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_Start_Date__c} + 90</expression>
    </formulas>
    <formulas>
        <name>DateEmploymentOutcome</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Stabilization_Date__c} + 150</expression>
    </formulas>
    <formulas>
        <name>DateTransition</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Stabilization_Date__c} + 60</expression>
    </formulas>
    <formulas>
        <name>ServiceNamingConventionCaseId</name>
        <dataType>String</dataType>
        <expression>CASE(
           {!$Record.RecordType.Name},
           &apos;Placement&apos;, 
           CASE(
                      {!$Record.Type},
                      &apos;DBS Supported Employment&apos;, &apos;DSE&apos;,
                      &apos;DBS OTJ&apos;, &apos;DOTJ&apos;,
                      &apos;DBS Employment Service&apos;, &apos;DES&apos;,
                      &apos;Employment Service&apos;, &apos;ES&apos;,
                      &apos;Job Coaching&apos;, &apos;JC&apos;,
                      &apos;OJT&apos;, &apos;OJT&apos;,
                      &apos;Supported Employment&apos;, &apos;SE&apos;,
                      &apos;WBLE&apos;, &apos;WB&apos;,
                      &apos;&apos;
           ),
           &apos;Evaluation&apos;,
           CASE(
                      {!$Record.Type},
                      &apos;Discovery&apos;, &apos;D&apos;,
                      &apos;MHC&apos;, &apos;MHC&apos;,
                      &apos;Psychological Evaluation&apos;, &apos;PE&apos;,
                      &apos;Vocational Evaluation&apos;, &apos;VE&apos;,
                      &apos;&apos;
           ),
           &apos;Training&apos; ,
           CASE(
                      {!$Record.Type},
                      &apos;Career Camp&apos;, &apos;CC&apos;,
                      &apos;Pre-Placement Training&apos;,&apos;PPT&apos;,
                      &apos;Self Advocacy&apos;,&apos;SA&apos;,
                      &apos;Peer Mentoring&apos;,&apos;PM&apos;,
                      &apos;&apos;
           ),
&apos;&apos;) + &apos;_&apos; + {!$Record.Account.Case_Id__c} + &apos;_&apos; 
+ CASE(
           MONTH(Today()),
           1, &quot;January&quot;,
           2, &quot;February&quot;,
           3, &quot;March&quot;, 
           4, &quot;April&quot;, 
           5, &quot;May&quot;, 
           6, &quot;June&quot;,
           7, &quot;July&quot;,
           8, &quot;August&quot;,
           9, &quot;September&quot;,
           10, &quot;October&quot;,
           11, &quot;November&quot;,
           12, &quot;December&quot;,
           &quot;None&quot;
) + &apos;_&apos; +TEXT(Year(Today()))</expression>
    </formulas>
    <formulas>
        <name>ServiceNamingConventionVRCode</name>
        <dataType>String</dataType>
        <expression>CASE(
           {!$Record.RecordType.Name},
           &apos;Placement&apos;, 
           CASE(
                      {!$Record.Type},
                      &apos;DBS Supported Employment&apos;, &apos;DSE&apos;,
                      &apos;DBS OTJ&apos;, &apos;DOTJ&apos;,
                      &apos;DBS Employment Service&apos;, &apos;DES&apos;,
                      &apos;Employment Service&apos;, &apos;ES&apos;,
                      &apos;Job Coaching&apos;, &apos;JC&apos;,
                      &apos;OJT&apos;, &apos;OJT&apos;,
                      &apos;Supported Employment&apos;, &apos;SE&apos;,
                      &apos;WBLE&apos;, &apos;WB&apos;,
                      &apos;&apos;
           ),
           &apos;Evaluation&apos;,
           CASE(
                      {!$Record.Type},
                      &apos;Discovery&apos;, &apos;D&apos;,
                      &apos;MHC&apos;, &apos;MHC&apos;,
                      &apos;Psychological Evaluation&apos;, &apos;PE&apos;,
                      &apos;Vocational Evaluation&apos;, &apos;VE&apos;,
                      &apos;&apos;
           ),
           &apos;Training&apos; ,
           CASE(
                      {!$Record.Type},
                      &apos;Career Camp&apos;, &apos;CC&apos;,
                      &apos;Pre-Placement Training&apos;, &apos;PPT&apos;,
                      &apos;Self Advocacy&apos;, &apos;SA&apos;,
                      &apos;Peer Mentoring&apos;,&apos;PM&apos;,
                      &apos;&apos;
           ),
           &apos;&apos;
) + &apos;_&apos; + {!$Record.Account.VR_code__c} + &apos;_&apos; 
+ CASE(
           MONTH(Today()),
           1, &quot;January&quot;,
           2, &quot;February&quot;,
           3, &quot;March&quot;, 
           4, &quot;April&quot;, 
           5, &quot;May&quot;, 
           6, &quot;June&quot;,
           7, &quot;July&quot;,
           8, &quot;August&quot;,
           9, &quot;September&quot;,
           10, &quot;October&quot;,
           11, &quot;November&quot;,
           12, &quot;December&quot;,
           &quot;None&quot;
) + &apos;_&apos; + TEXT(Year(Today()))</expression>
    </formulas>
    <interviewLabel>Service - Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_30_Day</name>
        <label>Update 30 Day</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Update_45_Day</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supported Employment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X30_day__c</field>
            <value>
                <elementReference>Date30Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_45_Day</name>
        <label>Update 45 Day</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Update_60_Day</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS Employment Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS Supported Employment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS OTJ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X45_Day__c</field>
            <value>
                <elementReference>Date45Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_60_Day</name>
        <label>Update 60 Day</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Update_90_Day</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment Service</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X60_day__c</field>
            <value>
                <elementReference>Date60Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_90_Day</name>
        <label>Update 90 Day</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Update_Transition_Employment_Outcome</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS Employment Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS Supported Employment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DBS OTJ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X90_day__c</field>
            <value>
                <elementReference>Date90Day</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_CloseDate</name>
        <label>Update Name/CloseDate</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceNamingConventionCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_CloseDate2</name>
        <label>Update Name/CloseDate</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceNamingConventionVRCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_30_Day</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In-Service</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage2</name>
        <label>Update Stage</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Transition_Employment_Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transition_Employment_Outcome</name>
        <label>Update Transition/Employment Outcome</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stabilization_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Outcome_Date__c</field>
            <value>
                <elementReference>DateEmploymentOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transition_Date__c</field>
            <value>
                <elementReference>DateTransition</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Case_ID</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
