force-app/main/default/flows/Service_Insert_Benchmark_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Benchmark30DayTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_60_Day_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection2</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Benchmark60DayTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_90_Day_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection3</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Benchmark90DayTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection4</name>
        <label>Add to Collection</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Benchmark30DayTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stabilization_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection5</name>
        <label>Add to Collection</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BenchmarkStabilizationTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transition_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection6</name>
        <label>Add to Collection</label>
        <locationX>490</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BenchmarkTransitionTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employment_Services_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection7</name>
        <label>Add to Collection</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BenchmarkFinalReportTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection8</name>
        <label>Add to Collection</label>
        <locationX>490</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BenchmarkEmploymentOutcomeTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection9</name>
        <label>Add to Collection</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BenchmarkAgreementTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Final_Report_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agreement_Task</name>
        <label>Agreement Task</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkAgreementTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkAgreementTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Service_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkAgreementTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkAgreementTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkAgreementTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_Outcome_Task</name>
        <label>Employment Outcome Task</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkEmploymentOutcomeTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - Employment Outcome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkEmploymentOutcomeTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Employment_Outcome_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkEmploymentOutcomeTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkEmploymentOutcomeTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkEmploymentOutcomeTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Report_Task</name>
        <label>Final Report Task</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkFinalReportTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - Final Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkFinalReportTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkFinalReportTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkFinalReportTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkFinalReportTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stabilization_Task</name>
        <label>Stabilization Task</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkStabilizationTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - Stabilization</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkStabilizationTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Stabilization_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkStabilizationTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkStabilizationTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkStabilizationTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transition_Task</name>
        <label>Transition Task</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkTransitionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - Transition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkTransitionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Transition_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkTransitionTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkTransitionTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BenchmarkTransitionTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X30_Day_Task</name>
        <label>30 Day Task</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - 30 Day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.X30_day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X30_Day_Task2</name>
        <label>30 Day Task</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - 30 Day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.X30_day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark30DayTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X60_Day_Task</name>
        <label>60 Day Task</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Benchmark60DayTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - 60 Day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark60DayTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.X60_day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark60DayTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark60DayTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark60DayTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X90_Day_Task</name>
        <label>90 Day Task</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Benchmark90DayTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Due - 90 Day</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark90DayTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.X90_day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark90DayTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark90DayTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Benchmark90DayTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_30_Day_Task</name>
        <label>Create 30 Day Task?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_60_Day_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30_Day_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_30_Day_Task2</name>
        <label>Create 30 Day Task?</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Stabilization_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.X30_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X30_Day_Task2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_60_Day_Task</name>
        <label>Create 60 Day Task?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_90_Day_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.X60_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.X60_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X60_Day_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_90_Day_Task</name>
        <label>Create 90 Day Task?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Insert_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.X90_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.X90_day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X90_Day_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Agreement_Task</name>
        <label>Create Agreement Task?</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Final_Report_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.Service_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Final_Report_Task</name>
        <label>Create Final Report Task?</label>
        <locationX>1062</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Insert_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Report_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Stabilization_Task</name>
        <label>Create Stabilization Task?</label>
        <locationX>622</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_Transition_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Stabilization_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.Stabilization_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stabilization_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Transition_Task</name>
        <label>Create Transition Task?</label>
        <locationX>622</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Employment_Services_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Transition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.Transition_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_Services_Task</name>
        <label>Employment Services Task?</label>
        <locationX>622</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Insert_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Employment_Outcome_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord.Employment_Outcome_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorServiceRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_Outcome_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type</name>
        <label>Service Type?</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Insert_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Employment_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employment Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_30_Day_Task</targetReference>
            </connector>
            <label>Employment Service</label>
        </rules>
        <rules>
            <name>Supported_Employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supported Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_30_Day_Task2</targetReference>
            </connector>
            <label>Supported Employment</label>
        </rules>
        <rules>
            <name>OJT_WBLE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OJT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Agreement_Task</targetReference>
            </connector>
            <label>OJT/WBLE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service - Create Benchmark Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - Insert Benchmark Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>776</locationX>
        <locationY>1958</locationY>
        <inputReference>TasksToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Benchmark30DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Benchmark60DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Benchmark90DayTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>BenchmarkAgreementTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>BenchmarkEmploymentOutcomeTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>BenchmarkFinalReportTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>BenchmarkStabilizationTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>BenchmarkTransitionTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
