force-app/main/default/flows/Service_Product_After_Insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Benchmark_Fields</name>
        <label>Assign Existing Benchmark Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>existingBenchmark.Benchmark_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Price_Book_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Service_Owner_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingBenchmark.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Benchmark</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Benchmark_Exists</name>
        <label>Benchmark Exists?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Benchmark_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingBenchmark.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingBenchmark.Benchmark_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payroll reimbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Benchmark_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Product - After Insert or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Product - After Insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Benchmark</name>
        <label>Create Benchmark</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benchmark_Name__c</field>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Product2.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Book_Entry_ID__c</field>
            <value>
                <elementReference>$Record.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_ID__c</field>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Benchmark_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Owner_email__c</field>
            <value>
                <elementReference>$Record.Opportunity.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Benchmark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Benchmark_Record_Type</name>
        <label>Get Benchmark Record Type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Benchmark</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benchmark__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employment_Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Benchmark</name>
        <label>Get Related Benchmark</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Benchmark_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benchmark_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Benchmark__c</object>
        <outputReference>existingBenchmark</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Benchmark_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Benchmark</name>
        <label>Update Existing Benchmark</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>existingBenchmark</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Benchmark</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>existingBenchmark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benchmark__c</objectType>
    </variables>
</Flow>
