force-app/main/default/flows/Set_Fields_on_Opportunity_Upon_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ALWAYS</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].CreatedDate + 365</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_5014888688</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.CreatedDate} + 365</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( [Opportunity].RecordType.Name,
&apos;Placement&apos;, 
CASE( [Opportunity].Type,
&apos;DBS Supported Employment&apos;,&apos;DBS&apos;,
&apos;DBS OTJ&apos;,&apos;DBSOTJ&apos;,
&apos;DBS Supported Employment&apos;,&apos;DBSSE&apos;,
&apos;Employment Service&apos;,&apos;ES&apos;,
&apos;Job Coaching&apos;,&apos;JC&apos;,
&apos;OJT&apos;,&apos;OJT&apos;,
&apos;Supported Employment&apos;,&apos;SE&apos;,
&apos;WBLE&apos;, &apos;WB&apos;,
&apos;&apos;
),
&apos;Evaluation&apos;,
CASE( [Opportunity].Type,
&apos;Discovery&apos;,&apos;D&apos;,
&apos;MHC&apos;,&apos;MHC&apos;,
&apos;Psychological Evaluation&apos; , &apos;PE&apos;,
&apos;Vocational Evaluation&apos;,&apos;VE&apos;,
&apos;&apos;
),
&apos;Training&apos; ,
CASE( [Opportunity].Type,
&apos;Career Camp&apos;, &apos;CC&apos;,
&apos;Pre-Placement Training&apos;,&apos;PPT&apos;,
&apos;Self Advocacy&apos;,&apos;SA&apos;,
&apos;Peer Mentoring&apos;,&apos;PM&apos;,
&apos;&apos;
),
&apos;&apos;)
+ &apos;_&apos;
+ [Opportunity].Account.VR_code__c
+ &apos;_&apos; 
+ CASE(MONTH( Today() ),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)

+ &apos;_&apos; +TEXT( Year ( Today() ) )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_7168454455</name>
        <dataType>String</dataType>
        <expression>CASE( {!myVariable_current.RecordType.Name},
&apos;Placement&apos;, 
CASE( {!myVariable_current.Type},
&apos;DBS Supported Employment&apos;,&apos;DBS&apos;,
&apos;DBS OTJ&apos;,&apos;DBSOTJ&apos;,
&apos;DBS Supported Employment&apos;,&apos;DBSSE&apos;,
&apos;Employment Service&apos;,&apos;ES&apos;,
&apos;Job Coaching&apos;,&apos;JC&apos;,
&apos;OJT&apos;,&apos;OJT&apos;,
&apos;Supported Employment&apos;,&apos;SE&apos;,
&apos;WBLE&apos;, &apos;WB&apos;,
&apos;&apos;
),
&apos;Evaluation&apos;,
CASE( {!myVariable_current.Type},
&apos;Discovery&apos;,&apos;D&apos;,
&apos;MHC&apos;,&apos;MHC&apos;,
&apos;Psychological Evaluation&apos; , &apos;PE&apos;,
&apos;Vocational Evaluation&apos;,&apos;VE&apos;,
&apos;&apos;
),
&apos;Training&apos; ,
CASE( {!myVariable_current.Type},
&apos;Career Camp&apos;, &apos;CC&apos;,
&apos;Pre-Placement Training&apos;,&apos;PPT&apos;,
&apos;Self Advocacy&apos;,&apos;SA&apos;,
&apos;Peer Mentoring&apos;,&apos;PM&apos;,
&apos;&apos;
),
&apos;&apos;)
+ &apos;_&apos;
+ {!myVariable_current.Account.VR_code__c}
+ &apos;_&apos; 
+ CASE(MONTH( Today() ),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)

+ &apos;_&apos; +TEXT( Year ( Today() ) )</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Set_Fields_on_Opportunity_Upon_Creation-6_InterviewLabel</interviewLabel>
    <label>Set Fields on Opportunity Upon Creation</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Opp Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Service Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_7168454455</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Set Close Date</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Close Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_5014888688</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
