force-app/main/default/flows/Task_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_BenchmarkName</name>
        <label>Assign BenchmarkName</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30 Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName2</name>
        <label>Assign BenchmarkName</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>60 Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName3</name>
        <label>Assign BenchmarkName</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>90 Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName4</name>
        <label>Assign BenchmarkName</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stabilization</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName5</name>
        <label>Assign BenchmarkName</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName6</name>
        <label>Assign BenchmarkName</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName7</name>
        <label>Assign BenchmarkName</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BenchmarkName8</name>
        <label>Assign BenchmarkName</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_BenchmarkName</name>
        <label>Copy 1 of Assign BenchmarkName</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>BenchmarkName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>45 Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>SubmittedBenchmarkError</name>
        <label>SubmittedBenchmarkError</label>
        <locationX>1106</locationX>
        <locationY>1019</locationY>
        <customErrorMessages>
            <errorMessage>The related benchmark must be submitted before the task can be marked as complete</errorMessage>
            <fieldSelection>Status</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Benchmark_Task</name>
        <label>Benchmark Task?</label>
        <locationX>1920</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Benchmark Due</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Benchmark_Been_Submitted</name>
        <label>Has Benchmark Been Submitted?</label>
        <locationX>1238</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Benchmark_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Benchmark_Task.Submitted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmittedBenchmarkError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status?</label>
        <locationX>2393</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Set_to_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Benchmark_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set to Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subject</name>
        <label>Subject?</label>
        <locationX>1238</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Benchmark_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Benchmark_Due_30_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - 30 Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName</targetReference>
            </connector>
            <label>Benchmark Due - 30 Day</label>
        </rules>
        <rules>
            <name>Benchmark_Due_45_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - 45 Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_BenchmarkName</targetReference>
            </connector>
            <label>Benchmark Due - 45 Day</label>
        </rules>
        <rules>
            <name>Benchmark_Due_60_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - 60 Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName2</targetReference>
            </connector>
            <label>Benchmark Due - 60 Day</label>
        </rules>
        <rules>
            <name>Benchmark_Due_90_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - 90 Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName3</targetReference>
            </connector>
            <label>Benchmark Due - 90 Day</label>
        </rules>
        <rules>
            <name>Benchmark_Due_Stabilization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - Stabilization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName4</targetReference>
            </connector>
            <label>Benchmark Due - Stabilization</label>
        </rules>
        <rules>
            <name>Benchmark_Due_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - Transition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName5</targetReference>
            </connector>
            <label>Benchmark Due - Transition</label>
        </rules>
        <rules>
            <name>Benchmark_Due_Employment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - Employment Outcome</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName6</targetReference>
            </connector>
            <label>Benchmark Due - Employment Outcome</label>
        </rules>
        <rules>
            <name>Benchmark_Due_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName7</targetReference>
            </connector>
            <label>Benchmark Due - Agreement</label>
        </rules>
        <rules>
            <name>Benchmark_Due_Final_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benchmark Due - Final Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BenchmarkName8</targetReference>
            </connector>
            <label>Benchmark Due - Final Report</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Benchmark_Task</name>
        <label>Get Related Benchmark Task</label>
        <locationX>1238</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Benchmark_Been_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benchmark_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>BenchmarkName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benchmark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2267</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BenchmarkName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
